@import url(Fonts/fontiran.css);

body {
    font-family: IRANSans;
}

.CustomMargin {
    margin-top: 2%;
}

.CustomPanel {
    margin-top: 2%;
    display: none;
}

.FieldMargin {
    margin-top: 0.5%;
}

.FieldTitle {
    font-weight: 100;
}

.SearchPanel {
    background-color: #f0f4f7;
    margin: 4% 0%;
    padding: 2% 0%;
    border-radius: 10px;
}

.SearchPanelColumns {
    direction: rtl;
}

.SearchPanelRows{
    margin:1%;
}

.SearchPanelButtonColumns{
    direction:rtl;
    margin-right:1%;
}

.SearchPanelButton {
    width: 20%;
}

.MainGrid {
    background-color: #f0f4f7;
    margin: 4% 0%;
    padding: 2% 2%;
    border-radius: 10px;
}