<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="InstaManager" providerName="System.Data.SqlClient" connectionString="Data Source=51.178.215.252;Initial Catalog=InstaManager;Integrated Security=False;User Id=admin;Password=Salam123@;MultipleActiveResultSets=True" />
    <add name="InstaCR" providerName="System.Data.SqlClient" connectionString="Data Source=51.178.215.252;Initial Catalog=InstaCR;Integrated Security=False;User Id=admin;Password=Salam123@;MultipleActiveResultSets=True" />
  </connectionStrings>
</configuration>